<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Menu</title>

    <!-- CSS File-->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <!-- Manual style css -->
    <link rel="stylesheet" type="text/css" href="./style.css" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark position-absolute" id="navigasi-bar">
      <div class="container">
        <a class="navbar-brand me-5" href="#"><strong>LOGO</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-2 justify-content-between small" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT ME</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SIGN UP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Of Navbar -->

    <!-- Section Home -->
    <section id="home">
      <div class="container-fluid">
        <div class="row text-center align-items-center" style="min-height: 90vh">
          <div class="col-12">
            <h1 class="display-4"><strong>PLAY TRADITIONAL GAME</strong></h1>
            <p class="my-3">Experience New Traditional Game</p>
            <a href="/permainan" class="btn btn-warning btn-sm px-5"><strong>PLAY NOW</strong></a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a href="#the-game" class="mb-0"
              ><small>THE STORY</small>
              <br />
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Of Home Section -->

    <!-- The Game Section  -->
    <section id="the-game">
      <div class="container">
        <div class="row align-items-center" style="min-height: 100vh">
          <div class="col-lg-12">
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <p class="mb-0">What's So Spesial?</p>
                <h1 class="mt-0 display-4">THE GAMES</h1>
              </div>
              <!-- Carosel -->
              <div class="col-lg-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                  <div class="carousel-indicators">
                    <button
                      type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide-to="0"
                      class="active"
                      aria-current="true"
                      aria-label="Slide 1"
                      style="width: 14px; height: 14px; background-color: transparent; border: 2px solid white; border-radius: 100%"
                    ></button>
                    <button
                      class="mx-2"
                      type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide-to="1"
                      aria-label="Slide 2"
                      style="width: 14px; height: 14px; background-color: transparent; border: 2px solid white; border-radius: 100%"
                    ></button>
                    <button
                      type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide-to="2"
                      aria-label="Slide 3"
                      style="width: 14px; height: 14px; background-color: transparent; border: 2px solid white; border-radius: 100%"
                    ></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                    </div>
                    <div class="carousel-item">
                      <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                    </div>
                    <div class="carousel-item">
                      <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <!-- End Of Carosel -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Of The Game Section-->

    <!--  Features Section -->
    <section id="features">
      <div class="container">
        <div class="row justify-content-end align-items-center" style="min-height: 100vh">
          <div class="col-sm-6">
            <p class="mb-0">What's so special?</p>
            <h1 class="display-4 mb-5 mt-0">FEATURES</h1>

            <ul>
              <li>
                <h2 class="text-warning mt-3">TRADITIONAL GAMES</h2>
                <p class="small">if you miss your childhood, we provide many traditional games here</p>
              </li>

              <li>
                <h2 class="text-warning my-5">GAME SUIT</h2>
              </li>

              <li>
                <h2 class="text-warning">TBD</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Features Section  -->

    <!-- System Requiretment Section -->
    <section id="system-requiretment">
      <div class="container">
        <div class="row align-items-center" style="min-height: 100vh">
          <div class="col-sm-12">
            <div class="row text-center">
              <div class="col-12"><p class="small">Can My Computer Run this game?</p></div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-4 offset-lg-1"><h1 class="display-4">SYSTEM REQUIRETMENT</h1></div>
            </div>
            <div class="row">
              <div class="col-lg-5 offset-lg-1">
                <table class="table table-bordered border-secondary text-light p-0">
                  <tr>
                    <td>
                      <p class="text-warning py-0 my-0 h5">OS:</p>
                      <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </td>
                    <td>
                      <p class="text-warning py-0 my-0 h5">PROCESSOR:</p>
                      <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="text-warning py-0 my-0 h5">MEMORY:</p>
                      <p>4GB RAM</p>
                    </td>
                    <td>
                      <p class="text-warning py-0 my-0 h5">STORAGE:</p>
                      <p>8 GB available space</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p class="text-warning py-0 my-0 h5">GRAPHICS:</p>
                      <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Of System Requiretment Section -->

    <!-- Top Score Section -->
    <section id="top-score">
      <div class="container">
        <div class="row align-items-center" style="min-height: 100vh">
          <div class="col-lg-4 offset-lg-1">
            <h1 class="display-4">TOP SCORE</h1>
            <p class="my-2">This top score from various games provided on this platform</p>
            <button type="button" class="btn btn-warning btn-sm mt-2 px-5"><strong>See More</strong></button>
          </div>
          <div class="col-lg-6 offset-lg-1 mt-2">
            <!-- Card -->
            <!-- First Card -->
            <div class="row">
              <div class="col-sm-11">
                <div class="card w-sm-75 bg-dark">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <img src="./img/Evan_lahti.jpg" alt="" class="rounded-circle" />
                        <div class="ps-3">
                          <p class="text-warning my-0 h5"><strong>Evan Lathi</strong></p>
                          <p class="text-muted my-0">PC Gamer</p>
                        </div>
                      </div>
                      <img src="./img/twitter.svg" alt="" />
                    </div>
                    <div class="card-text">
                      <p class="my-0">“One of my gaming highlights of the year.”</p>
                      <p class="text-muted my-0">June 18, 2021</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Of First Card -->
            <!-- Second Card -->
            <div class="row justify-content-end">
              <div class="col-sm-11">
                <div class="card w-sm-75 bg-dark my-2">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <img src="./img/jada-grifin.jpg" alt="" class="rounded-circle" />
                        <div class="ps-3">
                          <p class="text-warning my-0 h5"><strong>Jada Griffin</strong></p>
                          <p class="text-muted my-0">Nerdreactor</p>
                        </div>
                      </div>
                      <img src="./img/twitter.svg" alt="" />
                    </div>
                    <div class="card-text">
                      <p class="my-0">“The next big thing in the world of streaming and survival games.”</p>
                      <p class="text-muted my-0">July 10, 2021</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Of Second Card -->
            <!-- Third Card -->
            <div class="row">
              <div class="col-sm-11">
                <div class="card w-sm-75 bg-dark">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <img src="./img/Aron-wil.jpg" alt="" class="rounded-circle" />
                        <div class="ps-3">
                          <p class="text-warning my-0 h5"><strong>Aaron Williams</strong></p>
                          <p class="text-muted my-0">Uproxx</p>
                        </div>
                      </div>
                      <img src="./img/twitter.svg" alt="" />
                    </div>
                    <div class="card-text">
                      <p class="my-0">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                      <p class="text-muted my-0">December 24, 2018</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Of Third Card -->
            <!-- End Of Card -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Of Top Score Section -->

    <!-- Newsletter Section -->
    <section id="newsletter">
      <div class="container">
        <div class="row align-items-center" style="min-height: 100vh">
          <div class="col-lg-3 offset-2 d-none d-lg-block">
            <img src="./img/subs-tengkorak-image.png" alt="image" style="width: 15rem" />
          </div>
          <div class="col-lg-6 ms-md-3">
            <p>Want to stay in touch?</p>
            <h1 class="display-4">NEWSLETTER SUBSCRIBE</h1>
            <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            <form class="d-flex">
              <div class="form-floating col-8 col-lg-8">
                <input type="email" class="form-control text-warning" id="floatingInputValue" placeholder="name@example.com" value="youremail@binar.co.id" />
                <label class="text-dark" for="floatingInputValue">Email Address</label>
              </div>
              <button type="submit" class="btn btn-warning ms-3 px-3 btn-md">
                <strong><small>Subscribe now</small></strong>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Of Newsletter Section -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="d-md-flex offset-lg-3 justify-content-between align-items-start">
          <a href="#home">MAIN</a>
          <a href="#the-game">ABOUT</a>
          <a href="#features">GAME FEATURES</a>
          <a href="#system-requiretment">SYSTEM REQUIRETMENTS</a>
          <a href="#top-score">QUOTES</a>
          <img src="img/facebook.svg" alt="" />
          <img src="img/twitter+.svg" alt="" />
          <img src="img/youtube.svg" alt="" />
          <img src="img/twitch.svg" alt="" />
        </div>
        <hr />
        <div class="d-md-flex justify-content-between">
          <p class="text-muted">© 2018 Your Games, Inc. All Rights Reserved</p>
          <p>Privacy Policy | Terms of Services | Code of Conduct</p>
        </div>
      </div>
    </footer>
    <!-- End Of Footer -->
    <!-- Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
