<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS File-->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <!-- Manual style css -->
    <link rel="stylesheet" type="text/css" href="./style-permainan.css" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" />
    <title>Rock | Paper | Scissor</title>
    <link rel="icon" href="./img/logogame.png" />
  </head>
  <body id="rock-paper-scissor">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm position-absolute">
      <div class="container align-items-center">
        <a href="/">&lt;</a>
        <img src="./img/logogame.png" alt="logo-rock-paper-scissor" class="px-2" />
        <p class="text-warning h5 pt-1"><strong>ROCK PAPER SCISSOR</strong></p>
      </div>
    </nav>
    <!-- End Of Navbar -->

    <!-- Main Page Of Game Rock Paper Scissor -->
    <section id="main-section-choice" class="container">
      <div class="row align-items-center justify-content-center">
        <!-- PLayer Choice Section -->
        <section id="player-choice" class="col-sm-3 text-center justify-content-center">
          <h2><strong>PLAYER 1</strong></h2>
          <!-- Rock -->
          <div id="chose" class="mt-3 align-items-center">
            <img class="rock-p" id="rock" src="/img/batu.png" alt="" />
          </div>
          <!-- End Of Rock  -->
          <!-- Paper -->
          <div id="chose" class="my-4">
            <img class="paper-p" id="paper" src="/img/kertas.png" alt="" />
          </div>
          <!-- End Of Paper -->
          <!-- Scissor -->
          <div id="chose" class="">
            <img class="scissor-p" id="scissor" src="/img/gunting.png" alt="" />
          </div>
          <!-- End Of Scissor -->
        </section>
        <!-- End of Player Choice Section-->
        <!-- Versus and Result Section -->
        <section id="vs" class="col-sm-3 d-flex justify-content-center text-center align-items-center">
          <div class="h2 d-flex justify-content-center align-items-center" id="the-result">VS</div>
        </section>
        <!-- End Of Versus and Result Section -->
        <!-- Computer Choice Section -->
        <section id="computer-choice" class="col-sm-3 text-center">
          <h2><strong>COM</strong></h2>

          <!-- Rock -->
          <div id="chose" class="mt-3">
            <img class="" id="rock-c" src="/img/batu.png" alt="" />
          </div>
          <!-- End Of Rock  -->
          <!-- Paper -->
          <div id="chose" class="my-4">
            <img class="" id="paper-c" src="/img/kertas.png" alt="" />
          </div>
          <!-- End Of Paper -->
          <!-- Scissor -->
          <div id="chose" class="">
            <img class="" id="scissor-c" src="/img/gunting.png" alt="" />
          </div>
          <!-- End Of Scissor -->
        </section>
        <!-- End Of Computer Choice Section -->
      </div>
    </section>
    <!-- End page of Main Page Of Game Rock Paper Scissor -->
    <!-- Refresh Section -->
    <section class="container" id="refresh">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="/img/refresh.png" alt="" onclick="restart()" class="restart" />
        </div>
      </div>
    </section>
    <!-- End Of Refresh Section -->
    <!-- Script -->
    <script src="./script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
