#rock-paper-scissor {
    font-family: Open Sans;
    background-color:
        #9C835F;
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

nav {
    padding-top: 0px;
}

nav a {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover {
    color: black;
    transform: scale(1.1);
}

nav img {
    width: 3rem;
}

#main-section-choice {
    padding-top: 6rem;
}

#chose img {
    width: 4rem;
}

#vs .h2 {
    color: red;
    font-weight: bolder;
    font-size: 5rem;
}

#refresh img {
    width: 3rem;
}

.img-choice {
    background: rgb(192, 182, 182);
    margin: 0px;
    border: 0px solid;
    border-radius: 13px;
    padding: 1.7rem 1.5rem;
    text-align: center;
    align-items: center;
    margin: 0px 3rem;

}

.player-rotate {
    transform: rotate(15deg);
}

.com-rotate {

    transform: rotate(-15deg);
}

.box-win {
    width: 150px;
    height: 90px;
    background-color: green;
    border-radius: 5px;
    transform: rotate(-20deg);
    text-align: center;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.rock-p:hover,
.paper-p:hover,
.scissor-p:hover,
.restart:hover {
    transform: scale(1.1);
    rotate: 15deg;
}